.home{
  padding: 0 30px;
  @include background-image;
  font-family: arial unicode ms;
  color: #585353;
  @include font-family;
  .main {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    &--left {
      width: 60%;
      padding: 30px;
      background-color: #ffffff;
      border-radius: 10px; 
      &__access{
        position: relative;
        padding: 0.5em 0.7em;
        background: rgb(165, 229, 226);
        font-weight: bold;
        width: 25%;
        text-align: center;
        margin-bottom: 20px;
        border-radius: 7px;
      }
      &__access:after {
        position: absolute;
        content: '';
        top: 100%;
        left: 30px;
        border: 15px solid transparent;
        border-top: 15px solid rgb(165, 229, 226);
        width: 0;
        height: 0;
      }
    }
    &--right {
      width: 36%;
      padding: 30px;
      background-color: #ffffff;
      border-radius: 10px; 
      &__headline{
        position: relative;
        padding: 0.5em 0.7em;
        background: rgb(165, 229, 226);
        font-weight: bold;
        width: 50%;
        text-align: center;
        border-radius: 7px;
      }
      &__headline:after {
        position: absolute;
        content: '';
        top: 100%;
        left: 30px;
        border: 15px solid transparent;
        border-top: 15px solid rgb(165, 229, 226);
        width: 0;
        height: 0;
      }
      &__introduction{
        display: flex;
        flex-direction: row-reverse;
        &--content{
        padding: 20px 0 0 20px;
      }
        &--image{
          padding-top: 20px;
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}