.home{
  padding: 0 30px;
  @include background-image;
  font-family: arial unicode ms;
  color: #585353;
  @include font-family;
  .main {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    &--left {
      width: 60%;
      padding: 30px;
      background-color: #ffffff;
      border-radius: 10px; 
      &__access{
        position: relative;
        padding: 0.5em 0.7em;
        background: rgb(165, 229, 226);
        font-weight: bold;
        width: 35%;
        text-align: center;
        margin-bottom: 20px;
        border-radius: 7px;
        font-size: 20px;
      }
      &__access:after {
        position: absolute;
        content: '';
        top: 100%;
        left: 30px;
        border: 15px solid transparent;
        border-top: 15px solid rgb(165, 229, 226);
        width: 0;
        height: 0;
      }
      &__calendar{
        width: 100%;
        .simple-calendar {
          margin: 0 auto;
          .calendar-heading{
            font-size: 15px;
            text-align: center;
            a{
              font-size: 10px;
            }
          }
          .table{
            thead{
              th{
                text-align: center;
                background-color: #bfd8d8;
                font-size: 13px;
              }
            }
            tbody{
              font-size: 10px;
              tr:nth-of-type(odd){
                background-color: #ffffff;
              }
              td{
                border: 1px solid #bfd8d8;
                padding: 0.3rem;
              }
            }
          }
        }
        &--height{
          overflow: hidden;
          height: 2em;
          width: 6.2em;
        }
        &--mark{
          background-color: #30b1b1;
          height: 0.75em;
          width: 0.75em;
          display: inline-block;
          border-radius: 50%;
          z-index: 1;
        }
      }
    }
    &--right {
      width: 36%;
      padding: 30px;
      background-color: #ffffff;
      border-radius: 10px; 
      &__headline{
        position: relative;
        padding: 0.5em 0.7em;
        background: rgb(165, 229, 226);
        font-weight: bold;
        width: 50%;
        text-align: center;
        border-radius: 7px;
        font-size: 20px;
      }
      &__headline:after {
        position: absolute;
        content: '';
        top: 100%;
        left: 30px;
        border: 15px solid transparent;
        border-top: 15px solid rgb(165, 229, 226);
        width: 0;
        height: 0;
      }
      &__introduction{
        display: flex;
        flex-direction: row-reverse;
        &--content{
        padding: 20px 0 0 20px;
      }
        &--image{
          padding-top: 20px;
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}