.article
  .article_main
    -# %p#notice= notice
    .article_main--container
      .article_main--container--title
        %p
          = @article.title
      .article_main--container--content
        = @article.content

    = link_to 'もう一回編集する！', edit_article_path(@article),class: "article__edit--btn"
    = link_to '一覧に戻る！', articles_path,class: "article__back--btn"