.home 
  .main
    .main__mypage--left
      = link_to "生徒さんとのメッセージ一覧", groups_path,class: "header-menu__right"
      %h2 
        予約一覧
        = link_to "生徒さんとのメッセージ一覧", adimn_reservation_confirmation_index_path,class: "header-menu__right"
    .main__mypage--right
      = yield