.admin__groups
  .admin__groups--title
    %h1
      生徒さんとのチャット 一覧
  .admin__groups__box 
    - @groups.each.with_index(1) do |group,i|
      = link_to group_path(group.id),class: "admin__groups__outer" do 
        %span 
          #{i} #{group.user.nickname}さん