.home
  .main
    .main--left
      %h2{class:"main--left__access"} アクセス
      %p （個人情報のため名古屋駅にしときました）
      #map
      :css
        #map {
          height: 300px;
          width: 300px;
        }
      :javascript
        let map
        let geocoder
        
        function initMap(){
          geocoder = new google.maps.Geocoder()
        
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.171768, lng:136.882951},
            zoom: 15,
          });
        
          marker = new google.maps.Marker({
            position:  {lat: 35.171768, lng:136.882951},
            map: map
          });
        }
      %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{ ENV['GOOGLE_API_MAP_KEY'] }&libraries=places&callback=initMap"}
      .warning
        %p 
          サイトをご覧くださっている企業さんへ
        %br  
          こちらはパン教室のホームページとなります
        %br  
          こちらのサイトを作った理由としましては、
          姉が大手パン教室の講師をしていて、近いうちに独立したいといっていたので作った次第です。
        %br  
          使用した技術は
    .main--right
      %h3.main--right__headline
        講師紹介
      .main--right__introduction
        %p.main--right__introduction--content
          abcでの講師歴あり。
          %br
          自宅でのレッスンをはじめました！
          %br
          好きなパンの種類はベーグルです♪
          %br
          いろいろな種類のパン作り、はじめてみませんか？
        = image_tag "/assets/icon.jpg",class: "main--right__introduction--image"
