.lesson
  .lesson--container
    .images
      = image_tag asset_path("img1.jpg"),class: "img--1"
      = image_tag asset_path("img2.jpg"),class: "img--2"
      = image_tag asset_path("img3.jpg"),class: "img--3"
      = image_tag asset_path("img4.jpg"),class: "img--4"
    %h1.lesson--container__headline
      初回体験をご検討していただいている方へ
    %p.lesson--container__content  
      家庭でのパン作りの基本の計量の仕方や
      簡単に本格的な生地を作る
      手ごねのやり方を学んで頂けます！
      %br
      初回のレッスンではパン作りの流れを掴んでいきましょう。
      %br
      パン屋さんに売っているような
      お惣菜パンに挑戦していきますので、
      ご家族皆さんが驚かれたり喜んで頂けるパンになっていますよ！
      %br
    %h1.lesson--container__headline
      こちら作っていくパンの一例です！
    %p.lesson--container__content  
      ●ウインナーロール（４個）
      %br
      生地を長く伸ばす成形に挑戦して頂けます。
      %br
      ロングウインナーに長く伸ばした生地を巻きつけ、 
      パン屋さんでも人気のお惣菜パンを作っていきましょう。
      %br
      パン作りの基本の伸ばすやり方を覚えて頂く事で、
      他のパンにも応用して頂けるようになります。
      %br
      ウインナー小
      %br
      ●パン・オ・フロマージュ（５個）
      中はとろり、表面はカリッと、
      %br
      ２つの食感を楽しめる贅沢なチーズパンです。
      %br
      材料を変えてアレンジしやすい惣菜パンの作り方と 
      %br
      基本の丸めの方法を学んで頂けます。