.lesson
  .lesson--container
    %h1{class:"lesson--container__headline"}
      基礎
    %p{class:"lesson--container__content"}  
      家庭でのパン作りの基本の計量の仕方や
      オートリーズ法を使った簡単に本格的な生地を作る
      手ごねのやり方を学んで頂けます。

      初回のレッスンではパン作りの流れを掴んでいきましょう。

      基礎１回目からパン屋さんに売っているような
      お惣菜パンに挑戦していきますので、
      ご家族皆さんが驚かれたり喜んで頂けるパンになっています。

      ●ウインナーロール（４個）

      生地を長く伸ばす成形に挑戦して頂けます。

      ロングウインナーに長く伸ばした生地を巻きつけ、 
      パン屋さんでも人気のお惣菜パンを作っていきましょう。

      パン作りの基本の伸ばすやり方を覚えて頂く事で、
      他のパンにも応用して頂けるようになります。

      ウインナー小
      ●パン・オ・フロマージュ（５個）
      中はとろり、表面はカリッと、

      ２つの食感を楽しめる贅沢なチーズパンです。

      材料を変えてアレンジしやすい惣菜パンの作り方と 

      基本の丸めの方法を学んで頂けます。