.lesson{
  padding: 20px 30px;
  @include background-image;
  font-family: arial unicode ms;
  color: #585353;
  @include font-family;
  &--container {
    width: 90%;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px; 
    margin: 0 auto;
    &__headline{
      position: relative;
      padding: 0.5em 0.7em;
      background: rgb(165, 229, 226);
      font-weight: bold;
      width: 60%;
      text-align: center;
      border-radius: 7px;
      font-size: 20px;
    }
    &__headline:after {
      position: absolute;
      content: '';
      top: 100%;
      left: 206px;
      border: 15px solid transparent;
      border-top: 15px solid rgb(165, 229, 226);
      width: 0;
      height: 0;
    }
    &__content{
      padding-top: 20px;
      line-height: 50px;
    }
    .images{
      margin: auto;
      background-color: white;
      position: relative;
      width: 60vw;
      height: 30vh;
      margin-bottom: 1rem;
      display: flex;
      img{
        width: 50%;
        animation-name:  images ;
        -webkit-animation-name:  images ;
        animation-duration: 10s;
        -webkit-animation-duration: 10s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        opacity: 0;
      }
      .img--1{
        display: block;
        width: 30vw;
        height: 30vh;
      }
      .img--2{
        display: block;
        width: 30vw;
        height: 30vh;
      }
      .img--3{
        animation-delay:5s;
        -webkit-animation-delay:5s;
        position: absolute;
        top: 0;
        left: 0;
        width: 30vw;
        height: 30vh;
      }
      .img--4{
        animation-delay:5s;
        -webkit-animation-delay:5s;
        position: absolute;
        top: 0;
        left: 50%;
        width: 30vw;
        height: 30vh;
      }
      @keyframes images {
        0% {
          opacity: 0;
        }
        
        12.5% {
          opacity: 1;
        }
      
        37.5% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
      }
      @-webkit-keyframes images {
        0% {
          opacity: 0;
        }
        
        12.5% {
          opacity: 1;
        }
      
        37.5% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
      }
    } 
  }
}
