= form_with local: true, url: pay_cards_path  do |form| 
  金額：
  -# = form.text_field :amount 
  %script.payjp-button{"data-key": "#{ ENV['PAYJP_PUBLIC_KEY']}", "data-partial": "false", "data-submit-text": "トークンを作成する",src: "https://checkout.pay.jp/", type: "text/javascript"}
    :cdata
  -# :erb
  -#   <script
  -#     type="text/javascript"
  -#     src="https://checkout.pay.jp"
  -#     class="payjp-button"
  -#     data-key=<%= ENV['PAYJP_PUBLIC_KEY'] %>>
  -#     </script>  
  