header{
  background-image: url("iStock-y.jpg");
  background-size: 787px 294px;
  padding-top: 20px;
  width: 100%;
  @include font-family;
  .top-container {
    margin: 0 auto;
    height: 80px;
    width: 85%;
    &__name{
      font-size: 40px;
    }
    &__content{
      color: #585353;
      padding-left: 10px;
    }
  }

  .header-menu{
    background-color: #fff;
    height: 60px;
    width: 100%;
    margin-top: 30px;
    // border-top: 1px solid #585353;
    // border-bottom: 1px solid #585353;
    ul{
      display: flex;
      justify-content: flex-end;
      list-style: none;
      .header-menu__right {
        font-size: 15px;
        list-style: none;
        line-height: 60px;
        padding-right: 20px;
        text-align: center;
        text-decoration: none;
        color: #585353;
      }
    }
  }
}