@mixin font-family{
  font-family: Hiragino Maru Gothic ProN;
}
header{
  background-image: image-url("iStock-y.jpg");
  background-size: 787px 294px;
  padding-top: 20px;
  width: 100%;
  @include font-family;
  .top-container {
    margin: 0 auto;
    height: 80px;
    width: 85%;
    &__name{
      font-size: 40px;
    }
    &__content{
      color: #585353;
      padding-left: 10px;
    }
  }

  .header-menu{
    background-color: #fff;
    height: 60px;
    width: 100%;
    margin-top: 30px;
    // border-top: 1px solid #585353;
    // border-bottom: 1px solid #585353;
    ul{
      display: flex;
      justify-content: flex-end;
      list-style: none;
      .header-menu__right {
        font-size: 15px;
        list-style: none;
        line-height: 60px;
        padding: 0 20px;
        text-align: center;
        text-decoration: none;
        color: #585353;
        position: relative;
        &:after{
          position: absolute;
          bottom: 11px;
          left: 0;
          content: '';
          width: 100%;
          height: 2px;
          background: #585353;
          transform: scale(0, 1);
          transform-origin: center top;
          transition: transform .3s;
        }
        &:hover:after{
          transform: scale(1, 1);
        }
      }
      a{
        height: 60px;
        display: inline-block;
      }

    }
  }
}
.btn-3 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}
