/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header{
  background-color: rgb(255, 244, 230);
  padding: 20px 30px;
  width: calc(100% - 60px);
  font-family: arial unicode ms;
  .top-container {
    margin: 0 auto;
    height: 80px;
    width: 85%;
    &__name{
      font-size: 40px;
    }
    &__content{
      color: #585353;
      padding-left: 10px;
    }
  }
  .header-menu{
    height: 60px;
    width: calc(100% - 30px);
    margin: 30px auto 0 auto;
    border-top: 1px solid #585353;
    border-bottom: 1px solid #585353;
    ul{
      display: flex;
      justify-content: flex-end;
      .header-menu__right {
        font-size: 15px;
        list-style: none;
        line-height: 60px;
        padding-right: 20px;
        text-align: center;
        text-decoration: none;
        color: #585353;
      }
    }
  }
}
@import "./lesson/index";
@import "./home/index";
