@mixin background-image{
  background-image: image-url("iStock.jpg");
  background-size:contain;
}
@mixin font-family{
  font-family: Hiragino Maru Gothic ProN;
}
@mixin btn1 {
  
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #8fabe7;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #6c7892;
  border-radius: 3px;
  }
@mixin btn1_hover {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
  text-decoration: none;
  color: #FFF;
}

.article{
  padding: 30px;
  width: calc(100%-60px);
  @include background-image;
  @include font-family;
  &_main{
    background-color: #ffffff;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    &--title {
      display: block;
      position: relative;
      height: 45px;
      text-align: center;
      box-sizing: border-box;
      margin: 0 auto;
      width: 300px;
      z-index: 1;
    }
    &--title:before {
      content: '';
      position: absolute;
      width: 12px;
      bottom: -10px;
      left: -3px;
      border: 20px solid #a5cff3;
      border-left-color: transparent;
    }
    &--title:after {
      content: '';
      position: absolute;
      width: 10px;
      bottom: -10px;
      right: -2px;
      border: 20px solid #a5cff3;
      border-right-color: transparent;
    }
    &--title h1 {
      width: 254px;
      font-weight: bold;  
      display: inline-block;
      position: relative;
      margin: 0;
      padding: 0 20px;
      line-height: 45px;
      font-size: 18px;
      color: #fff;
      z-index: 1;
      background-color: #8ec3f1;
    }
    &--title h1:before {
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      border: none;
      border-bottom: solid 10px transparent;
      border-right: solid 15px #7fafd9;
    }
    &--title h1:after {
      position: absolute;
      content: '';
      top: 100%;
      right: 0;
      border: none;
      border-bottom: solid 10px transparent;
      border-left: solid 15px #7fafd9;
    }
    &--container{
      position: relative;
      border: dashed 2px #7fafd9;
      border-radius: 20px;
      margin: 40px;
      padding: 30px;
      &--title{  
        display: inline-block;
        position: relative;
        height: 60px;
        line-height: 60px;
        text-align: center;
        padding: 7px 0;
        font-size: 18px;
        background: #a4d0f3c7;
        color: #FFF;
        box-sizing: border-box;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
        &:before{
          position: absolute;
          content: '';
          width: 0px;
          height: 0px;
          z-index: 1;
          top: -2px;
          left: -2px;
          border-width: 32px 0px 32px 15px;
          border-color: transparent transparent transparent #fff;
          border-style: solid;
        }
        &:after{
          position: absolute;
          content: '';
          width: 0px;
          height: 0px;
          z-index: 1;
          top: -2px;
          right: -2px;
          border-width: 32px 15px 32px 0px;
          border-color: transparent #fff transparent transparent;
          border-style: solid;
        }
        p{
          margin: 0;
          padding: 0 30px;
          border-top: dashed 2px rgba(255, 255, 255, 0.5);
          border-bottom: dashed 2px rgba(255, 255, 255, 0.5);
          line-height: 42px;
        }
      }
      
      &--date{   
        float: right;
        color: #918d8d;
        font-size: 13px;
      }
      &--content{
        padding: 2em;
      }

      &--btn{
        margin: 0 1%;
        float: right;
        float: right;
      }
      &--btn:hover{
        @include btn1_hover;
        float: right;
      }
    }
  }
  
  &__edit {
    &--btn{
      @include btn1;
      margin: 20px;
    }
    &--btn:hover{
      @include btn1_hover;
    }
  }
  &__save {
    &--btn{
      @include btn1;
      margin: 20px;
    }
    &--btn:hover{
      @include btn1_hover;
    }
  }
  &__back {
    &--btn{
      @include btn1;
      margin: 20px;
    }
    &--btn:hover{
      @include btn1_hover;
    }
  }
}
.like--btn{
  display: inline-block;
}
.like__create--btn{
  border: 1px solid #ffafa9;
  padding: 1em;
  color: #ffafa9;
  border-radius: 10px;
  display: inline-block;
  &:hover{
    color: white;
    text-decoration: none;
    background-color:#ffafa9;
  }
}
.like__destory--btn{
  background-color:#ffafa9;
  color: white;
  padding: 1em;
  border-radius: 10px;
  display: inline-block;
  &:hover{
    border: 1px solid #ffafa9;
    color: #ffafa9;
    background-color: white;
    text-decoration: none;
  }
}
.like--btn--signout{
  border: 1px solid #ffafa9;
  padding: 1em;
  color: #ffafa9;
  border-radius: 10px;
  display: inline-block;
}
.tweet-btn{
  display: inline-block;
  border: 1px solid #8ec4f1;
  padding: 1em;
  border-radius: 10px;
  &:hover{
    background-color:#8ec4f1;
    a{
      text-decoration: none;
      color: white;
    }
  }
  a{
    color: #8ec4f1;
  }
}