.simple-calendar {
  padding: 20px;
  margin: 0 auto;
  
  .calendar-heading{
    font-size: 20px;
    text-align: center;
    a{
      font-size: 15px;
    }
  }
  .table{
    thead{
      th{
        text-align: center;
        background-color: #bfd8d8;
      }
    }
    tbody{
      tr:nth-of-type(odd){
        background-color: #ffffff;
      }
      td{
        border: 1px solid #bfd8d8;
      }
    }
  }

  .meeting__container{
    height: 100px;
    width: 100px;
  } 
  .day{
    position: relative;
    .meeting__btn{
      .meeting__new--btn{
        position: absolute;
        top: 0;
        left: -89px;
     
      }
      .meeting__edit--btn{
        position: absolute;
        top: 30px;
        left: -46px;
        
      }
      .meeting__destroy--btn{
        position: absolute;
        top: 60px;
        left: -60px;
       
      }
      a:hover{
        text-decoration: none;
      }
    
    }
  }  
}