@mixin background-image{
  background-image: url("iStock.jpg");
  background-size:contain;
}
@mixin font-family{
  font-family: Hiragino Maru Gothic ProN;
}
@mixin btn1 {
  
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #8fabe7;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #6c7892;
  border-radius: 3px;
  }
@mixin btn1_hover {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
  text-decoration: none;
  color: #FFF;
}
.schedules{
  display: flex;
  @include background-image;
  padding: 20px 0;
  @include font-family;
  &__calendar{
    width: 55%;
    margin: 0 auto;
    iframe{
      height: 90vh;
      width: 100%;
    }
  }
  &__comments{
    width: 35%;
    background-color: #ffffff;
    border-radius: 10px; 
    margin: 0 auto;
    padding: 47px;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    &__form{
      padding-bottom: 20px;
      &--area{
        padding-left: 5px;
        height: 80px;
        width: 100%;
      }
      &--btn{
        @include btn1;
        margin: 0 37%;
        border-top: solid 1px white;
        border-left: solid 1px white;
        border-right: solid 1px white;
      }
      &--btn:hover {
        @include btn1_hover;
      }
    }
    &__list{
      height: 100%;
      &__box{
        &--name{
          height: 28px;
          position: relative;
          display: inline-block;
          margin: 3px 0;
          padding: 7px 10px;
          min-width: 120px;
          max-width: 100%;
          color: #555;
          font-size: 16px;
          background: #e0edff;
          border-radius: 15px;
          line-height: 12px;
          span{
            font-size: 11px;
          }
        }
        &--name:before {
          content: "";
          position: absolute;
          top: 100%;
          left: 26%;
          margin-left: -15px;
          border: 15px solid transparent;
          border-top: 15px solid #e0edff;
        }
        &--comment{
          padding: 20px;
        }
      }
    }
  }
}  
 