.schedules{
  display: flex;
  @include background-image;
  padding: 20px 0;
  @include font-family;
  &__calendar{
    width: 55%;
    margin: 0 auto;
    iframe{
      height: 90vh;
      width: 100%;
    }
  }
  &__comments{
    width: 25%;
    background-color: #ffffff;
    border-radius: 10px; 
    margin: 0 auto;
    padding: 47px;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    &__form{
      padding-bottom: 20px;
      &--area{
        padding-left: 5px;
        height: 80px;
        width: 100%;
      }
      &--btn{
        @include btn1;
        margin: 0 37%;
      }
      &--btn:hover {
        @include btn1_hover;
      }
    }
    &__list{
      height: 100%;
      &__box{
        &--name{
          height: 18px;
          position: relative;
          display: inline-block;
          margin: 3px 0;
          padding: 7px 10px;
          min-width: 120px;
          max-width: 100%;
          color: #555;
          font-size: 16px;
          background: #e0edff;
          border-radius: 15px;
          span{
            font-size: 11px;
          }
        }
        &--name:before {
          content: "";
          position: absolute;
          top: 100%;
          left: 26%;
          margin-left: -15px;
          border: 15px solid transparent;
          border-top: 15px solid #e0edff;
        }
        &--comment{
          padding: 20px;
        }
      }
    }
  }
}  
 