.simple-calendar {
  padding: 20px;
  margin: 0 auto;
  
  .calendar-heading{
    font-size: 20px;
    text-align: center;
    a{
      font-size: 15px;
    }
  }
  .table{
    thead{
      th{
        text-align: center;
        background-color: #bfd8d8;
      }
    }
    tbody{
      tr:nth-of-type(odd){
        background-color: #ffffff;
      }
      td{
        border: 1px solid #bfd8d8;
      }
      .day{
        width: 100px;
        height: 100px;
        position: relative;
      }
    }
  }

  .meeting__container{
    height: 80px;
    &__one{
      position: relative;
      padding: 0.2em 0.5em;
      margin: 0.3em 0;
      border: dashed 2px white;
    }
    .meeting-name{
      position: relative;
    }
    &--content{
      overflow-wrap: anywhere;
      font-size: 13px;
      position: absolute;
      top: 0;
      right: -10em;
      width: 100px;
      padding: 0.2em 0.5em;
      margin: 0.3em 0;
      border: dashed 2px #bfd8d8;
      background-color: white;
      z-index: 1;
    }
  } 
  .day{
    .meeting__btn{
      .meeting__new--btn{
        position: absolute;
        top: 0.5em;
        right: 0;
      }
      .meeting__edit--btn{
        position: absolute;
        top: 0em;
        left: -3.3em;
        // background-color: white;
      }
      .meeting__destroy--btn{
        position: absolute;
        top: 2.2em;
        left: -4.3em;
        // background-color: white;
      }
      a:hover{
        text-decoration: none;
      }
    
    }
  }  
}