@mixin btn1_hover {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
  text-decoration: none;
  color: #FFF;
}
.schedules{
  padding: 2em;
  &--title{
    width: 22.3em;
  }
  &--title h1{
    width: 17em;
  }
  @include ribon_blue;
  &__comments{
    background-color: #ffffff;
    margin: 0 auto;
    padding: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
    &__form{
      padding-bottom: 20px;
      &--area{
        padding-left: 5px;
        height: 45px;
        width: 85%;
      }
      &--btn{
        display: inline-block; 
        padding: 0.5em 1em;
        text-decoration: none;
        background: #8fabe7;
        color: #FFF;
        border-bottom: solid 4px #6c7892;
        border-radius: 3px;
        border-top: solid 1px white;
        border-left: solid 1px white;
        border-right: solid 1px white;
        float: right;
      }
      &--btn:hover {
        @include btn1_hover;
      }
    }
    &__list{
      height: 100%;
      &__box{
        width: 100%;
        text-align: end;
        &--name{
          height: 28px;
          position: relative;
          display: inline-block;
          margin: 3px 0;
          padding: 7px 10px;
          min-width: 120px;
          max-width: 100%;
          color: #555;
          font-size: 16px;
          background: #e0edff;
          border-radius: 15px;
          line-height: 12px;
          span{
            font-size: 11px;
          }
          &:before{
            content: "";
            position: absolute;
            top: 100%;
            left: 26%;
            margin-left: 40px;
            border: 15px solid transparent;
            border-top: 15px solid #e0edff;
          }
        }
        &--comment{
          padding: 20px 20px 0 20px;
        }
        &--date{
          color: #918d8d;
          font-size: 13px;
          display: inline;
          padding-left: 54px;
        }
        &--btn{
          color: #918d8d;
          font-size: 13px;
          padding-left: 10px;
          &:hover{
            text-decoration: none;
          }
        }
      }
      .admin--comment{
        text-align: inherit;
        &--name{
          background-color: pink;
          &:before{
            border-top: 15px solid pink;
            margin-left: -15px;
          }
        }
        &--comment{
          padding: 20px 20px 0 20px;
        }
      }
    }
  }
}  
#comment--destroy_all{
  margin: 20px 0;
  display: inline-block;
  text-align: center;
  float: right;
}